
.col-sm-16 .price-box.price-final_price{
    display: flex !important;
    flex-wrap: wrap !important;
    padding-right: 0 !important;
    align-items: center !important;
    padding-top: 5px !important;
}
.amazon-price-msg a{
        border: 1px solid;
    box-shadow: none;
    border-radius: 4px;
transition: all 500ms ease;
    backface-visibility: hidden;
    padding: 7px 15px;
    min-height: auto;
    text-transform: uppercase;
    background: #FEA81F !important;
    border-color: #FEA81F;
    color: #583C11 !important;
font: 600 12px / 1.35 Poppins, sans-serif;
}
.Duties-taxes-incl{
    width: 100%;
}

.amazon-price-msg a:hover {
    background: #000 !important;
    color: #fff !important;
    border-color: #000;
}

.Duties-taxes-incl{
    width: 100%;
}
.product-view-style-04 .product-info-main .price-box{
    margin-bottom: 0px !important;
}

/* 17-07-25 */
body.product-view-style-04 .product-info-main .box-tocart .actions>a { order: 1; min-width: unset; width: auto; display: flex; max-height: 40px; max-width: 200px; }
body.product-view-style-04 .product-info-main .box-tocart .actions > .action.primary.buy-now { order: 5; width: 100%; margin-right: 0; max-width: 98.8999%; margin: 0 auto; min-height: 40px; display: flex; justify-content: center; align-items: center; padding: 0; background: transparent; border: 0; position: relative; z-index: 1; }
body.product-view-style-04 .product-info-main .box-tocart .actions .action.primary.buy-now .new-inner-button { width: 100%; height: 100%; background: #000; color: #fff; border-radius: 8px; }
body.product-view-style-04 .product-info-main .box-tocart .actions > .action.primary.buy-now::before { content: ""; position: absolute; top: -3px; left: -3px; right: -3px; bottom: -3px; z-index: -1; border-radius: 8px; background: linear-gradient(90deg, #00ff99, #ffff66, #9966ff, #ff6699, #00ff99); background-size: 300% 300%; animation: animateBorder 6s linear infinite; }
.product-view-style-04 .product-info-main .box-tocart .actions .action.primary.tocart { margin: 0; }
body.product-view-style-04 .product-info-main .box-tocart .actions { justify-content: space-between; gap: 5px; row-gap: 5px; }
@media screen and (min-width:320px) and (max-width:767px) {
    body.product-view-style-04 .product-info-main .box-tocart .actions .action.primary.tocart { width: calc(49% - 5px) !important; max-width: unset !important; }
    body.product-view-style-04 .product-info-main .box-tocart .actions > .action.primary.buy-now { order: 5 !important; max-width: 30%; max-width: 100%; }
    body.product-view-style-04 .product-info-main .box-tocart .actions { gap: 15px; row-gap: 7px; }
    body.product-view-style-04 .product-info-main .box-tocart .actions>a { order: 1; min-width: unset; width: auto; display: flex; max-height: 40px; max-width: 160px; }
    body.product-view-style-04 .product-info-main .box-tocart .actions .product-addto-links { order: 6 !important; width: 100%; }
    body .amazon-price-msg { font-size: 12px; }
    body.product-view-style-04 .product-info-main .price-box .price-wrapper .price { font-size: 20px; }
    body.product-view-style-04 .product-info-main .box-tocart .actions > .action.primary.buy-now { position: relative; top: -5px; }
    body.product-view-style-04 .product-info-main .box-tocart .actions>a { width: calc(49% - 5px) !important; max-width: unset !important; }
}
@media screen and (min-width:768px) and (max-width:926px) {
    body.product-view-style-04 .product-info-main .box-tocart .actions .product-addto-links { order: 6 !important; width: 100%; }
    body.product-view-style-04 .product-info-main .box-tocart .actions > .action.primary.buy-now { order: 5; width: 100%; margin-right: 0; max-width: 100%; margin: 0 auto; position: relative; top: -1px; }
    .product-view-style-04 .product-info-main .box-tocart .actions .action.primary.tocart { width: calc(50% - 5px) !important; }
    body.product-view-style-04 .product-info-main .box-tocart .actions>a { width: calc(50% - 5px); max-width: unset; }
}
@media screen and (min-width:768px) and (max-width:1049px) {
    body.product-view-style-04 .product-info-main .price-box .price-wrapper .price { font-size: 23px; }
}
@media screen and (min-width:992px) and (max-width:1275px) {
    .product-view-style-04 .product-info-main .box-tocart .actions .action.primary.tocart { width: calc(50% - 5px) !important; }
    body.product-view-style-04 .product-info-main .box-tocart .actions>a { width: calc(50% - 5px) !important; max-width: unset; }
    body.product-view-style-04 .product-info-main .box-tocart .actions .product-addto-links { order: 6 !important; width: 100%; }
    body.product-view-style-04 .product-info-main .box-tocart .actions > .action.primary.buy-now { max-width: 100%; }
    body.product-view-style-04 .product-info-main .box-tocart .actions > .action.primary.buy-now { position: relative; top: -3px; }
}
@media screen and (min-width:1275px) {
    body.product-view-style-04 .product-info-main .box-tocart .actions>a { max-width: calc(48% - 5px); width: calc(48% - 5px); }
    .product-view-style-04 .product-info-main .box-tocart .actions .action.primary.tocart { width: calc(33.33% - 5px) !important; min-width: unset !important; }
    .product-view-style-04 .product-info-main .box-tocart .product-addto-links { width: auto !important; }
    body.product-view-style-04 .product-info-main .box-tocart .actions>a img { width: 100%; }
}
@media screen and (min-width:1600px) {
    body.product-view-style-04 .product-info-main .box-tocart .actions>a { max-width: calc(50% - 2px); width: calc(50% - 5px); }
}


/* Header search bar */

.header-sections form .aa-InputWrapper input::placeholder,
.header-sections form .aa-InputWrapper input::-webkit-input-placeholder {
  font-weight: 700 !important;
  font-size: 16px !important;

}
.header-sections form .aa-InputWrapper input { font-weight: 700; letter-spacing: 2px; font-size: 16px; }
body .product-right.col-sm-8 .product-static-text { border: 0; border-image: unset; overflow: hidden; border-radius: 0; padding: 4px; background: linear-gradient(90deg, #00ff99, #ffff66, #9966ff, #ff6699, #00ff99); background-size: 300% 300%; animation: animateBorder 6s linear infinite; }
.product-view-style-04 .product-info-main .product-right { transition: all .3s ease-in-out; animation: fadeIn 1.5s ease-in-out; }
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
.header-sections form .aa-InputWrapper input { padding-right: 40px; }


@media screen and (min-width:320px) and (max-width:400px) {
    .amazon-price-msg a { padding: 7px 7px; font: 600 10px / 1.35 Poppins, sans-serif; }
}
@media screen and (min-width:320px) and (max-width:373px) {
    .amazon-price-msg a { padding: 4px 4px; font: 600 9px / 1.35 Poppins, sans-serif; }
body.product-view-style-04 .product-info-main .price-box .price-wrapper .price { font-size: 15px; }
}
@media screen and (max-width:768px) {
    #algoliaAutocomplete.block-search input { outline: none; box-shadow: 0 0 0 3px transparent; animation: animateBorderGlow 6s linear infinite; }
    @keyframes animateBorderGlow {
        0% { box-shadow: 0 0 0 3px #00ff99; }
        25% { box-shadow: 0 0 0 3px #ffff66; }
        50% { box-shadow: 0 0 0 3px #9966ff; }
        75% { box-shadow: 0 0 0 3px #ff6699; }
        100% { box-shadow: 0 0 0 3px #00ff99; }
    }
.page-header .sticky-menu:not(.active) #algoliaAutocomplete.block-search input { border-radius: 10px; background: #000; font-size: 14px; }
.header-sections form .aa-InputWrapper input::placeholder,
.header-sections form .aa-InputWrapper input::-webkit-input-placeholder {
  font-size: 9px !important;
}
#algoliaAutocomplete.block-search input { padding-left: 10px; }
}
@media screen and (min-width:768px) and (max-width:768px) {
    body .header-sections form .aa-InputWrapper { width: auto; }
    body  .header-sections form .aa-InputWrapper input { margin-top: 0 !important; width: 100%; background: #000;}
}
@media screen and (min-width: 769px){
.page-header .sticky-menu:not(.active) .aa-InputWrapperPrefix .aa-SubmitButton .aa-SubmitIcon { color: #fff; fill: #fff; }
.page-header .sticky-menu:not(.active) #algoliaAutocomplete .aa-Autocomplete { border-radius: 10px; padding: 3px; background: linear-gradient(90deg, #00ff99, #ffff66, #9966ff, #ff6699, #00ff99); background-size: 300% 300%; animation: animateBorder 6s linear infinite; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; }
.page-header .sticky-menu:not(.active) .aa-Autocomplete .aa-Form { background: #000; border-radius: 10px; }
.sticky-menu.active .header-sections form:focus-within .aa-InputWrapper, .sticky-menu.active .aa-SubmitButton:focus+.aa-InputWrapper, .sticky-menu.active .aa-SubmitButton:active~.aa-InputWrapper { background: linear-gradient(90deg, #00ff99, #ffff66, #9966ff, #ff6699, #00ff99); background-size: 300% 300%; animation: animateBorder 6s linear infinite; border-radius: 10px; -webkit-animation: animateBorder 6s linear infinite; padding: 4px; }
.sticky-menu.active .header-sections form:focus-within .aa-InputWrapper input, .sticky-menu.active .aa-SubmitButton:focus + .aa-InputWrapper input, .sticky-menu.active .aa-SubmitButton:active ~ .aa-InputWrapper input { background: #fff; border-radius: 10px; }
.sticky-menu.active .header-sections form .aa-InputWrapper { margin-right: 4px; }
@keyframes animateBorder {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .header-sections form .aa-InputWrapper input { padding-left: 10px; padding-right: 40px; }
.header-sections form .aa-InputWrapper input::placeholder,
.header-sections form .aa-InputWrapper input::-webkit-input-placeholder {
  font-size: 12px !important;
}
}
