<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="feed_sales_order_place_after" instance="Mirasvit\Feed\Observer\OrderPlaceAfterObserver" />
    </event>

    <event name="feed_export_success">
        <observer name="feed_notifier_export_success" instance="Mirasvit\Feed\Observer\FeedExportSuccessObserver"/>
    </event>

    <event name="feed_export_fail">
        <observer name="feed_notifier_export_fail" instance="Mirasvit\Feed\Observer\FeedExportFailObserver"/>
    </event>

    <event name="feed_delivery_success">
        <observer name="feed_notifier_delivery_success" instance="Mirasvit\Feed\Observer\FeedDeliverySuccessObserver"/>
    </event>
    <event name="feed_delivery_fail">
        <observer name="feed_notifier_delivery_fail" instance="Mirasvit\Feed\Observer\FeedDeliveryFailObserver"/>
    </event>
</config>
