<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
        <event name="sales_order_place_after">
            <observer name="add_prefix_to_order_id" instance="Vdcstore\OrderPrefix\Observer\OrderPrefix" />
        </event> 
</config>
