<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <chatgptaicontentpro>
            <general>
                <enabled>0</enabled>
            </general>
            <api>
                <base_url>https://api.openai.com</base_url>
                <token backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <dispromt>Please provide a product description for [Product Name]. This product is under this [Product Category] Write Main Feature/Benefit.</dispromt>
                <shortdispromt>Create a compelling product description for [Product Name]. This product is under this [Product Category] that entices customers to purchase.</shortdispromt>
            </api>
        </chatgptaicontentpro>
    </default>
</config>
